<app-header [cart]="cart"></app-header>
<app-navbar></app-navbar>
<!-- breadcrumb -->
<div class="container pt-4 flex items-center gap-3">
    <p class="text-gray-600 font-medium text-lg">Profile</p>
</div>
<!-- ./breadcrumb -->

<!-- wrapper -->
<div class="container grid grid-cols-12 items-start gap-6 pt-2 pb-16">

    <!-- sidebar -->
    <div class="col-span-3">
        <div class="px-4 py-3 shadow flex items-center gap-4">
            <div class="flex-shrink-0">
                <img src="../../../assets/avatar.png" alt="profile"
                    class="rounded-full w-14 h-14 border border-gray-200 p-1 object-cover">
            </div>
            <div class="flex-grow">
                <p class="text-gray-600">Hello,</p>
                <p class="text-gray-800 text-xl font-semibold">{{this.currentUser.username}}</p>
            </div>
        </div>

        <div class="mt-6 bg-white shadow rounded p-4 divide-y divide-gray-200 space-y-4 text-gray-600">
            <div class="space-y-1 pl-8">
                <button (click)="onClickProfileInfoButton()" 
                [className]="this.info===1 ? 'relative hover:text-primary block font-medium capitalize transition text-primary' : 'relative hover:text-primary block font-medium capitalize transition'" >
                    Profile information                
                </button>
                
               
            </div>

            <div (click)="onClickOrderHistoryButton()" class="space-y-1 pl-8 pt-4">
                <button 
                    [className]="this.info===0 ? 'relative hover:text-primary block font-medium capitalize transition text-primary' : 'relative hover:text-primary block font-medium capitalize transition'" >
                    My orders history
                </button>    
            </div>      

            <div class="space-y-1 pl-8 pt-4">
                <button (click)="logout()" class="relative hover:text-primary block font-medium capitalize transition">
                    <span class="absolute -left-8 top-0 text-base">
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </span>
                    Logout
                </button>
            </div>

        </div>

    </div>
    <!-- ./sidebar -->
    <div *ngIf="this.info==1" class="col-span-9 shadow rounded px-6 pt-5 pb-7">

        <app-profile-information [user]="this.currentUser" ></app-profile-information>

    </div>

    <div *ngIf="this.info==0" class="col-span-9 shadow rounded px-6 pt-5 pb-7">
        <app-order-history [orders]="myorders" [ordersLength]="orderNumber" ></app-order-history>
    </div>
   
</div>


<!-- ./wrapper -->


<app-footer></app-footer>
<app-copyright></app-copyright>