<mat-card *ngIf="product" class="bg-white shadow rounded overflow-hidden group" >
    <div [ngClass]="{ 'flex p-4': fullWidthMode }">   
        <div class="relative">
            <img src="{{product.img}}" alt="product 1" 
                class="mb-1 mx-auto"
                [ngClass]="{ 'h-[250px]': !fullWidthMode, 'h-[280px] max-w-xl': fullWidthMode }">
            <div class="absolute inset-0 bg-black bg-opacity-40 flex items-center 
            justify-center gap-2 opacity-0 group-hover:opacity-100 transition">
                <a  *ngIf="user"
                    routerLink="/product-details/{{product._id}}/{{user._id}}"
                    class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition"
                    title="view product">
                    <mat-icon>description</mat-icon>
                </a>
                <a  *ngIf="!user"
                    routerLink="/product-details/{{product._id}}"
                    class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition"
                    title="view product">
                    <mat-icon>description</mat-icon>
                </a>
                
            </div>
         </div>

    
       <div class="flex flex-col justify-between" [ngClass]="{ 'px-8 flex flex-col w-full': fullWidthMode }">
            <div class="px-3 pb-1 block">
                <a href="">
                    <span class="uppercase truncate font-medium text-xl text-gray-800 hover:text-primary transition"
                    [ngClass]="{ 'truncate' : !fullWidthMode }">
                    {{product.name}}</span>
                </a><br>
                <span class="text-md text-gray-500">{{product.categories}}</span>
            </div> 

            <div class="px-3 pb-1 ">
                <span class="text-sm text-gray-400 ">N°{{product.pcid}}</span><br>
                <span class="text-2xl text-primary font-semibold">{{product.price}} DT</span>
            </div>
            <div class="px-3" *ngIf="fullWidthMode">
              <h4>{{product.desc}}</h4>              
            </div>
            <div class="px-3 pb-1">
                <div *ngIf="product.stock>0" class="text-xs text-green-500">InStock</div>
                <div *ngIf="product.stock==0" class="text-xs text-red-500">Out Of Stock</div>
            </div>
            <div *ngIf="product.stock>0">
                <button
                     class="block uppercase font-medium  w-full py-1 text-center text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary hover:font-semibold transition"
                    [ngClass]="{ 'rounded': fullWidthMode }"
                    (click)="onAddToCart()"
                    >Add to cart
                </button>
            </div>
            <div *ngIf="product.stock==0">
                <button 
                     class="block uppercase font-medium w-full py-1 text-center text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary hover:font-semibold transition"
                    [ngClass]="{ 'rounded': fullWidthMode }"
                    >Out of stock !
                </button>
            </div>
        </div>
        
    </div>

</mat-card>

