
<app-navbar></app-navbar>

<mat-drawer-container [autosize]="true"
class=" mx-auto border-x"
>
    <mat-drawer mode="side" opened class="p-6">
         <app-categories (showCategory)="onShowCategory($event)"></app-categories>
    </mat-drawer>

    <mat-drawer-content class="p-8">
        <app-products-header 
            (columnsCountChange)="onColumnsCountChange($event)"
           >
        </app-products-header>

        <mat-grid-list
            gutterSize="26"
            [cols]="cols"
            [rowHeight]="rowHeight"
            >
            <mat-grid-tile 
                class="transition bg-white px-4 pb-6 shadow-md rounded overflow-hidden 
                hover:shadow-[0_20px_60px_-20px_RGBA(253,61,87,1)] hover:translate-y-1 hover:scale-105" >
                 <app-product-box 
                    [fullWidthMode]="cols === 1" 
                    class="w-full min-h-full"
                    (addToCart)="onAddToCart($event)"
                 >
                </app-product-box>
             </mat-grid-tile>
                
        </mat-grid-list>
    </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>
<app-copyright></app-copyright>




