

<app-header [cart]="cart" [user]="currentUser"></app-header>

<app-navbar></app-navbar>

<mat-drawer-container [autosize]="true"
class=" mx-auto border-x"
>
    <mat-drawer mode="side" opened class="p-2">
         <app-categories (showCategory)="onShowCategory($event)"></app-categories>

    </mat-drawer>

    <mat-drawer-content class="p-4">
        <app-products-header 
            (columnsCountChange)="onColumnsCountChange($event)"
            (sortChange)="onSortChange($event)"
           >
        </app-products-header>

        <mat-grid-list *ngIf="products && products.length"
            app-product-box
            gutterSize="26"
            [cols]="cols"
            [rowHeight]="rowHeight"
            >
            <mat-grid-tile *ngFor="let product of products"
                class="transition bg-white px-4 pb-6 shadow-md rounded overflow-hidden 
                hover:shadow-[0_20px_60px_-20px_RGBA(253,61,87,1)] hover:translate-y-1 hover:scale-105" >
                 <app-product-box 
                    [product]="product"
                    [user]="currentUser"
                    [fullWidthMode]="cols === 1" 
                    class="w-full min-h-full"
                    (addToCart)="onAddToCart($event)"
                 >
                </app-product-box>
             </mat-grid-tile>
                
        </mat-grid-list>
        <div *ngIf="products.length==0" class="py-20">
            <div class="flex text-red-600 items-center justify-center text-7xl">
                NO PRODUCTS AVAILABLE
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>
<app-copyright></app-copyright>




