<!-- <div class="relative flex items-center h-screen overflow-hidden">

    <div class="container relative z-30 p-10 banner-bg bg-opacity-50 rounded-xl">
        <div>
           <span class="text-7xl text-gray-800 font-medium capitalize">
              best collection<br>
            </span>  
        </div>
        <div class="pt-3">
            <span class="text-lg text-white">
                Are you looking for an online sales site in Tunisia? <br>
                Order the product of your dreams on the Tunisian MyShop online sales site. <br>
                To buy cheaper and save money, take advantage of the flash sales on MyShop.tn! <br>
                MyShop is one of the first online sales sites in Tunisia. <br>
            </span>
        </div>
        <div class="mt-8">
            <button routerLink="/login" class="bg-primary tarnsition text-white px-8 py-3 font-medium 
                rounded-md hover:bg-gray-900 hover:translate-y-1 ">Shop Now</button>
        </div>
    </div>
    <div class="absolute z-10 w-full h-auto">
      
     
        <video 
            autoplay
            loop
            src="../../../../../assets/mockrocket-export.mp4" 
            class="w-full"    
        >
        </video>
    </div>
</div>   -->


<div class="py-4 px-4">
    <div
      class="lg:max-w-[1440px] md:max-w-[744px] max-w-[375px] mx-auto bg-white relative lg:px-10 md:px-6 px-4 py-7"
    >
      <div
        class="lg:max-w-[1280px] md:max-w-[696px] max-w-[343px] mx-auto"
       style="background: rgb(23,23,64);
       background: linear-gradient(90deg, rgba(23,23,64,1) 0%, rgba(255,255,255,1) 100%);"
        >
        <div class="lg:flex md:flex block justify-between items-center">
          <div class="md:p-10 p-4">
            <p class="text-base font-semibold leading-none text-primary">Save up to 30%</p>
            <p class="text-3xl font-semibold leading-9 text-white py-4">
              Summer Sale
            </p>
            <p class="text-base leading-normal text-sky-100">
              Want to save some cash and still look like a fashion diva ?<br />Checkout
              our summer sale now !!!
            </p>
            <div class="mt-8">
                <button routerLink="/login" class="bg-primary tarnsition text-white px-8 py-3 font-medium 
                    rounded-md hover:bg-gray-900 hover:translate-y-1 ">Shop Now</button>
            </div>
          </div>
          <div class="md:p-10 p-4">
            <img
              src="../../../../../assets/pc.png"
              width="400" 
              height="400"
            />
          </div>
          
        </div>
        
      </div>
      
    </div>
  </div>
