<!-- banner -->
<div class="relative flex items-center h-screen overflow-hidden">

    <div class="container relative z-30 p-10 banner-bg bg-opacity-50 rounded-xl">
        <div>
           <span class="text-7xl text-gray-800 font-medium capitalize">
              best collection<br>
             
            </span>  
        </div>
        <span class="text-lg">
            Are you looking for an online sales site in Tunisia? <br>
            Order the product of your dreams on the Tunisian MyShop online sales site. <br>
            To buy cheaper and save money, take advantage of the flash sales on MyShop.tn! <br>
            MyShop is one of the first online sales sites in Tunisia. <br>
            

        </span>
        <div class="mt-8">
            <button href="#" class="bg-primary tarnsition text-white px-8 py-3 font-medium 
                rounded-md hover:bg-gray-900 hover:translate-y-1 ">Shop Now</button>
        </div>
    </div>
    <div class="absolute z-10 w-full h-auto">
        <video 
            autoplay
            loop
            src="../../../../../assets/mockrocket-export.mp4" 
            class="w-full"    
        >
        </video>
    </div>
</div>  

<!-- ./banner -->