<!-- footer -->
<footer class="bg-gray-100 pt-12 pb-6 border-t border-gray-100">
    <div class="container grid grid-cols-2">
        <div class="col-span-1 space-y-8 mr-2">
            <img src="../../../assets/myshop.png" alt="logo" class="w-42">
            <div class="mr-5">
                <p class="text-gray-500">
                    Are you looking for an online sales site in Tunisia? 
                    Order the product of your dreams on the Tunisian MyShop online sales site. 
                    To buy cheaper and save money, take advantage of the flash sales on MyShop.tn! 
                    MyShop is one of the first online sales sites in Tunisia. 
                    The platform offers you the possibility of making your purchases online 
                    by making very good deals.

                </p>
            </div>
            <div class="flex space-x-6">
                <a role="button" class="text-gray-400 hover:text-gray-500"><i
                        class="fa-brands fa-facebook-square"></i></a>
                <a role="button" class="text-gray-400 hover:text-gray-500"><i
                        class="fa-brands fa-instagram-square"></i></a>
                <a role="button" class="text-gray-400 hover:text-gray-500"><i
                        class="fa-brands fa-twitter-square"></i></a>
                <a role="button" class="text-gray-400 hover:text-gray-500">
                    <i class="fa-brands fa-github-square"></i>
                </a>
            </div>
        </div>

        <div class="col-span-1 grid ">
            <div class="grid grid-cols-2">
                <div>
                    <h3 class="text-sm font-semibold text-gray-400 uppercase tracking-wider"><mat-icon>info</mat-icon> About MyShop</h3>
                    <div class="mt-4 space-y-4">
                        <a role="button" class="text-base text-gray-500 hover:text-gray-900 block">Sale on Myshop.tn</a>
                        <a role="button" class="text-base text-gray-500 hover:text-gray-900 block">Analitycs</a>
                        <a role="button" class="text-base text-gray-500 hover:text-gray-900 block">Politique de confidentialité</a>
                    </div>
                </div>

                <div>
                    <h3 class="text-sm font-semibold text-gray-400 uppercase tracking-wider"><mat-icon>contact_support</mat-icon>
                        contact details</h3>
                    <div class="mt-4 space-y-4">
                        <a role="button" class="text-base text-gray-500 hover:text-gray-900 block">Email : contact@myshop.tn</a>
                        <a role="button" class="text-base text-gray-500 hover:text-gray-900 block">Adress : Habib Bourguiba Street, El Alia 7016, Bizerte, Tunisie</a>
                        <a role="button" class="text-base text-gray-500 hover:text-gray-900 block">Telephone : (+216 52 220 840)</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</footer>
<!-- ./footer -->