<!-- product-detail -->
<div class="container grid grid-cols-2 gap-6" *ngIf="product"  >
    <div>
        <img src="{{product.img}}" alt="product" class="w-full">
        <div class="grid grid-cols-5 gap-4 mt-4">    
        </div>
    </div>

    <div>
        <h2 class="text-3xl font-medium uppercase mb-2">{{product.name}}</h2>
        <div class="space-y-2">
            <p class="text-gray-800 font-semibold space-x-2">
                <span>Availability: </span>
                <span class="text-green-600" *ngIf="product.stock>0">In Stock</span>
                <span class="text-red-500 text-2xl" *ngIf="product.stock==0">Out of Stock</span>
            </p>
            <p class="space-x-2">
                <span class="text-gray-800 font-semibold">Categories: </span>
                <span class="text-gray-600">{{product.categories}}</span>
            </p>
            <p class="space-x-2">
                <span class="text-gray-800 font-semibold">PCID: </span>
                <span class="text-gray-600">{{product.pcid}}</span>
            </p>
        </div>
        <div class="flex items-baseline mb-1 space-x-2 font-roboto mt-4">
            <p class="text-xl text-primary font-semibold">{{product.price}} DT</p>
        </div>

        <p class="mt-4 text-gray-600">{{product.desc}}</p>

        <div class="flex justify-between pt-4">
            <div class="">
                <span class="text-gray-800 mb-3 uppercase font-semibold">Color : </span>            
                <label for="color" 
                    class="bg-{{product.color}}-600 border border-gray-200 rounded-sm h-6 w-6 cursor-pointer shadow-sm block"
                ></label>
            </div>
        <div class="pr-28">
            <span class="text-gray-800 uppercase mb-1 font-semibold">Size :</span> <br>
            <span class="text-gray-600 text-md">                   
                {{product.size}}               
            </span>
        </div>

        

         </div>

         <div class="flex justify-between pt-4">

         <div class="">
            <span class="text-gray-800 uppercase mb-1 font-semibold">Available quantity :</span> 
            <div class="flex border border-gray-300 text-gray-600 divide-x divide-gray-300 w-max mt-2">
                <div class="h-8 w-8 p-5 text-base flex items-center justify-center">{{product.stock}}</div>
            </div>
        </div>


        <div class="mt-3 flex gap-3 border-b border-gray-200 pb-5 pt-5">
            <button *ngIf="product.stock>0" (click)="onAddToCart()"
                class="bg-primary border border-primary text-white px-8 py-2 font-medium rounded uppercase flex items-center gap-2 hover:bg-transparent hover:text-primary transition">
                 Add to cart
            </button>
            <button *ngIf="product.stock==0"
                class="bg-primary border border-primary text-white px-8 py-2 font-medium rounded uppercase flex items-center gap-2 hover:bg-transparent hover:text-primary transition">
                Out of stock !
            </button>
            
        </div>

         </div>
    
    </div>
</div>

